@model List<Servico>

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Serviços</title>

  <style>
    body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;

      background-color: gray;
    }

    h1 {
      display: flex;
      justify-content: center;
        
      font-size: 2rem;
      text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    }

    .container-servicos {
      padding: 1rem;
      margin-top:3rem;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3rem;

      & a {
        font-size: 1.5rem;

        text-decoration: none;
        color: white;
        background-color: rgba(128, 0, 128, 0.5);
        padding: 1rem 2rem;
        border-radius: 0.5rem;

        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);

        &:hover {
          background-color: rgba(128, 0, 128, 0.9);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
        }
      }
    }
  </style>
</head>
<body>
  <h1>Serviços disponíveis</h1>
  <div class="container-servicos">
    @foreach (var servico in Model)
    {
      <a href="@Url.Action("Agendamentos", "Cliente", new { id = servico.Id })">@servico.Nome</a>
    }
  </div>
  <div>
    <a href="/barbeiro/cadastro">Sou barbeiro</a>
  </div>
</body>
</html>