@model List<Barbeiro>

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agenda de </title> @* referenciar o nome do barbeiro *@
</head>
<body>
  
</body>
</html>