<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Serviços</title>

  <style>
    body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    h1 {
      display: flex;
      justify-content: center;
        
      font-size: 2rem;
    }

    .container-servicos {
      padding: 1rem;

      display: flex;
      flex-direction: column;
      gap: 5rem;
      justify-content: center;
      align-items: center;

      & a {
        font-size: 1.5rem;

        text-decoration: none;
        color: blue;
      }
    }
  </style>
</head>
<body>
  <h1>Serviços disponíveis</h1>
  <div class="container-servicos">
    <a href="#">Corte</a>
    <a href="#">Barba</a>
    <a href="#">Sobrancelha</a>
    <a href="#">Corte + Barba</a>
    <a href="#">Corte + Sobrancelha</a>
  </div>
</body>
</html>